<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/img/icon.png">
    <script src="E:/Nodejs/web-server/src/app.js" ></script>
  </head>
  <br>
  {{> header}}
  <body>

 <h1 id="weather">About</h1>
 <!-- <img src="/img/me.jpg"> -->
</div>
  </body>
   {{> footer2}}
</html>
