<!DOCTYPE html>
<html>
  <head>
  <title>Home</title>
	 <link rel="stylesheet" type="text/css" href="form.css">
  <link rel="icon" href="/img/icon.png">

  </head>
 <br>
  {{> header}}

  <body>
    <br>
    <div class="container-1">
        <h1 id="weather">Weather</h1>
               <!-- <img id="image" src="/img/icon.png" > -->
    </div>
   <div class="new_form">
    <!-- <p id="text">Use this site to get your weather!</p> -->
    <!--  -->
    <br>
    <form>
    <div class="wrap">
      <br>
   <div class="search">
     <br>
      <input type="text" class="searchTerm" placeholder="Which location weather are you looking for?">
      <button type="submit" class="searchButton">
      <i class="fa fa-search"></i>
     </button>
   </div>
   </div>
 </form>

<!--
    <form>
      <input placeholder="location">
      <button>Search</button>
    </form> -->
  
  <br>
  <br>
  <p id="message-1"></p>
  <p id="message-2"></p>
  </div>



  <script src="./js/app.js"></script>
  </body>
    <!-- {{> footer}} -->
</html>
