<link rel="stylesheet" type="text/css" href="./style.css">

<nav id="navbar">
	<div class="container">
	<ul>
		<li><a href="">Home</a></li>
		<li><a href="/">Weather</a></li>
		<li><a href="/help">help</a></li>
		<li><a href="/about">About</a></li>
	</ul>
    </div>
</nav>
