body{
	/* background-color:#f4f4f4; */
	/* background-image:url('./img/5.jpg') ;
  background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover; */
	color: #555;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 20px;
	line-height: 1.6em;
	margin: 0;
}

.container{
	width:80%;
	margin: auto;
	overflow: hidden;
}

.container-1{
	width:40%;
	margin: auto;
	overflow: hidden;
}

#weather{
float: left;
color:#999999;
font-size: 80px;
}

#image{
	float: left;
}
#navbar{

	background-color:  #00b3b3;
	color:white;
	opacity: 0.9;
}

#navbar ul{
	padding: 0;
	list-style: none;
}
#navbar li{
	display: inline;
}

#navbar a{
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-stretch: expanded;
	padding-right: 15px;
}
#navbar a:hover{
	color: red;
}
#navbar a:active{
	color:green;
}

#main-footer{
	position: absolute;
  bottom: 0;
  width: 100%;
	background: black;
	color: #fff;
	text-align: center;
	margin-top: 5px;
	font-size: 15px;
	padding: 1px;
	opacity: 0.8;
}

#main-footer-1{
	position: absolute;
  bottom: 0;
  width: 100%;
	background: black;
	color: #fff;
	text-align: center;
	margin-top: 5px;
	font-size: 15px;
	padding: 1px;
	opacity: 0.8;
}

@media screen and (min-width: 800px) { /*The following CSS runs only for displays with a width (in pixels) of more than 800px*/

}

@media screen and (max-width: 800px) { /*The following CSS runs only for displays with a width (in pixels) of less than 800px*/

}
